/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */

*::-webkit-scrollbar {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.sign-in-background {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(13, 94, 166, 1) 100%
    );
}

.filter-dropdown {
    .mdc-text-field--outlined .mat-mdc-form-field-infix,
    .mdc-text-field--no-label .mat-mdc-form-field-infix {
        padding-top: 0.5rem !important;
        padding-bottom: 0 !important;
    }

    .mat-mdc-form-field-infix {
        min-height: 1rem !important;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none !important;
    }
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
.slide-left {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.gradient-bg {
    background: #369ec7;
    background: radial-gradient(
        circle,
        rgba(54, 158, 199, 1) 0%,
        rgba(49, 131, 163, 1) 50%,
        rgba(38, 115, 145, 1) 100%
    );
}
.main-card {
    &.total {
        border-left: 10px solid #c77c36;
    }
    &.accepted {
        border-left: 10px solid #5cd03c;
    }
    &.rejected {
        border-left: 10px solid #f86f5c;
    }
    &.not-annotated {
        border-left: 10px solid #f2d741;
    }
    .icon-container {
        &.total {
            background-color: #c77c3650;
            .mat-icon {
                color: #c77c36;
            }
        }
        &.accepted {
            background-color: #5cd03c50;
            .mat-icon {
                color: #5cd03c;
            }
        }
        &.rejected {
            background-color: #f86f5c50;
            .mat-icon {
                color: #f86f5c;
            }
        }
        &.not-annotated {
            background-color: #f2d74150;
            .mat-icon {
                color: #f2d741;
            }
        }
    }
}
