<div class="w-full h-full p-6">
    <div
        class="w-full h-full bg-card rounded-lg p-4 flex flex-col gap-4 shadow-md"
    >
        <div
            class="w-full h-12 rounded-lg flex justify-between items-center gap-4"
        >
            <div class="text-xl font-semibold">Dashboard</div>

            <div class="flex items-center gap-4">
                <div class="font-mono font-medium text-md">FILTER BY</div>
                <mat-form-field class="filter-dropdown w-36">
                    <mat-select
                        placeholder="Select"
                        [value]="filterByList[0].key"
                        (selectionChange)="onDateChange($event.value)"
                    >
                        @for (item of filterByList; track item.key) {
                        <mat-option [value]="item.key">{{
                            item.displayValue
                        }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="w-full h-32 rounded-lg grid grid-cols-4 gap-4">
            @for (item of cardList | keyvalue; track item.key) {
            <div
                class="w-full h-full rounded-lg flex justify-between flex-col p-4 bg-card-secondary"
            >
                <div class="w-full h-1/2 flex justify-start items-center gap-2">
                    <mat-icon
                        class="text-default"
                        [svgIcon]="item.value.icon"
                    ></mat-icon>
                    <div class="text-xl font-semibold">{{ item.value.title }}</div>
                </div>
                <div
                    class="w-full h-1/2 flex justify-center items-center gap-2 bg-card rounded-lg"
                >
                    <div class="text-xl font-semibold">{{ item.value.value }}</div>
                </div>
            </div>
            }
        </div>

        <div class="w-full h-[42rem] overflow-hidden rounded-lg flex flex-col">
            <!-- filter container -->
            <div
                class="w-full flex justify-between items-center gap-2 pb-4 flex-shrink-0"
            >
                <mat-form-field
                    class="fuse-mat-dense w-64"
                    [subscriptSizing]="'dynamic'"
                >
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:magnifying-glass'"
                    ></mat-icon>
                    <input
                        matInput
                        [formControl]="searchInputControl"
                        [autocomplete]="'off'"
                        placeholder="Search"
                    />
                </mat-form-field>

                <div class="flex items-center gap-4">
                    <div class="font-mono font-medium text-md">FILTER BY</div>
                    <mat-form-field class="filter-dropdown w-36">
                        <mat-select
                            placeholder="Select"
                            [formControl]="verdictFilterControl"
                        >
                            @for (item of verdictFilterList; track item.key) {
                            <mat-option [value]="item.key">{{
                                item.displayValue
                            }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <!-- table container -->
            <div class="flex-1 overflow-auto">
                <table
                    class="bg-card w-full"
                    mat-table
                    [dataSource]="dataSource"
                    matSort
                >
                    <!-- Train Id Column -->
                    <ng-container matColumnDef="trainId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            TRAIN ID
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.trainId ?? "- -" }}
                        </td>
                    </ng-container>

                    <!-- Time And Date Column -->
                    <ng-container matColumnDef="timeAndDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            TIME AND DATE
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.timeAndDate ?? "- -" }}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            STATUS
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.status ?? "- -" }}
                        </td>
                    </ng-container>

                    <!-- Annotation Column -->
                    <ng-container matColumnDef="annotation">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            ANNOTATION
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.annotation ?? "- -" }}
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>ACTION</th>
                        <td mat-cell *matCellDef="let element">
                            <button class="underline text-primary">
                                view details
                            </button>
                        </td>
                    </ng-container>

                    <tr
                        class="bg-table-header text-table-header text-md font-sans font-normal sticky top-0 z-10"
                        mat-header-row
                        *matHeaderRowDef="displayedColumns"
                    ></tr>
                    <tr
                        class="bg-card text-table text-md font-sans font-normal w-fit"
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                    ></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td
                            class="mat-cell bg-card"
                            [attr.colspan]="displayedColumns.length"
                        >
                            <div
                                class="w-full h-full flex justify-center items-center p-4 my-8"
                            >
                                <div
                                    class="text-[0.8rem] font-sans font-[500] text-table"
                                >
                                    {{ noDataMsg }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>

            <!-- Paginator -->
            <mat-paginator
                #paginator
                class="flex-shrink-0 w-full flex justify-end rounded bg-card"
                [pageSizeOptions]="pageSizeOptions"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                (page)="onPageChange($event)"
                showFirstLastButtons
            >
            </mat-paginator>
        </div>
    </div>
</div>
