<div
    class="w-screen h-screen flex flex-col flex-auto gap-4 min-w-0 p-8 sign-in-background"
>
    <div class="w-full h-10 flex items-center justify-start text-white/70">
        <span class="text-md font-semibold"> SUDO CODES </span>
    </div>

    <div
        class="w-full h-[calc(100%-2.5rem)] flex items-center justify-center gap-4"
    >
        <div class="w-1/2 h-full hidden md:flex items-center justify-start">
            <div class="w-8/12 text-white text-7xl font-semibold">
                {{ loginTitle }}
            </div>
        </div>
        <div class="md:w-1/2 h-full flex items-center justify-center">
            <div
                class="bg-white w-full md:w-8/12 p-8 flex flex-col gap-8 rounded-lg"
            >
                <!-- Actions -->
                <div class="flex items-center justify-between flex-wrap w-full">
                    @if (showCreateUser() || showForgotPassword() ||
                    signInForm.get('username').value) {
                    <mat-icon
                        class="icon-size-5 cursor-pointer text-black font-semibold"
                        [svgIcon]="'heroicons_solid:arrow-left'"
                        (click)="
                            showCreateUser.set(false);
                            showForgotPassword.set(false);
                            signInForm.reset();
                            createUserForm.reset();
                            forgotPasswordForm.reset()
                        "
                    ></mat-icon>
                    } @else {
                    <div
                        class="text-base font-semibold flex gap-2 items-center"
                    >
                        <span>New user?</span>
                        <button
                            class="bg-none underline"
                            (click)="
                                showCreateUser.set(true);
                                showForgotPassword.set(false)
                            "
                        >
                            Create an account
                        </button>
                    </div>
                    } @if (!showForgotPassword()) {
                    <button
                        class="bg-none underline text-base font-semibold"
                        (click)="
                            showForgotPassword.set(true);
                            showCreateUser.set(false)
                        "
                    >
                        Forgot password?
                    </button>
                    }
                </div>

                <!-- Sign in form -->
                @if (!showCreateUser() && !showForgotPassword()) {
                <div class="text-3xl font-semibold">Sign in</div>

                <form
                    class="flex flex-col gap-2"
                    [formGroup]="signInForm"
                    #signInNgForm="ngForm"
                >
                    <!-- Email field -->
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Username</mat-label>
                        <input
                            id="username"
                            matInput
                            [formControlName]="'username'"
                        />
                        @if(signInForm.get('username').hasError('required')) {
                        <mat-error> Email address is required </mat-error>
                        } @if(signInForm.get('username').hasError('username')) {
                        <mat-error>
                            Please enter a valid email address
                        </mat-error>
                        }
                        <mat-icon
                            matPrefix
                            class="icon-size-5 text-black"
                            [svgIcon]="'heroicons_outline:user2'"
                        ></mat-icon>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Password</mat-label>
                        <input
                            id="password"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField
                        />
                        <button
                            mat-icon-button
                            type="button"
                            (click)="
                                passwordField.type === 'password'
                                    ? (passwordField.type = 'text')
                                    : (passwordField.type = 'password')
                            "
                            matSuffix
                        >
                            <mat-icon
                                class="icon-size-5 text-black"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_outline:eye'"
                            ></mat-icon>
                            <mat-icon
                                class="icon-size-5 text-black"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_outline:eye-slash'"
                            ></mat-icon>
                        </button>
                        <mat-icon
                            matPrefix
                            class="icon-size-5 text-black"
                            [svgIcon]="'heroicons_outline:password'"
                        ></mat-icon>
                        <mat-error> Password is required </mat-error>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6 bg-black rounded-lg text-white"
                        mat-flat-button
                        [disabled]="signInForm.disabled"
                        (click)="signIn()"
                    >
                        <span *ngIf="!signInForm.disabled"> Sign in </span>
                        <mat-progress-spinner
                            *ngIf="signInForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    </button>
                </form>
                }

                <!--Forgot password-->
                @else if (showForgotPassword()) {
                <div class="text-3xl font-semibold">Forgot password?</div>

                <div class="text-3xl font-semibold">Let's create a new one</div>

                <form [formGroup]="forgotPasswordForm" #signInNgForm="ngForm">
                    <!-- Email field -->
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Email</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'"
                        />
                        @if(forgotPasswordForm.get('email').hasError('required'))
                        {
                        <mat-error> Email address is required </mat-error>
                        } @if(forgotPasswordForm.get('email').hasError('email'))
                        {
                        <mat-error>
                            Please enter a valid email address
                        </mat-error>
                        }
                    </mat-form-field>

                    <div class="text-base font-semibold">
                        We will send link to your email
                    </div>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6 bg-black rounded-lg text-white"
                        mat-flat-button
                        [disabled]="forgotPasswordForm.disabled"
                        (click)="sendForgotPassword()"
                    >
                        <span *ngIf="!forgotPasswordForm.disabled"> Send </span>
                        <mat-progress-spinner
                            *ngIf="forgotPasswordForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    </button>
                </form>
                }

                <!-- Create user -->
                @else if (showCreateUser()) {
                <div class="text-3xl font-semibold">Create user</div>

                <form
                    class="flex flex-col gap-2"
                    [formGroup]="createUserForm"
                    #signInNgForm="ngForm"
                >
                    <div class="w-full flex gap-2">
                        <!-- First name field -->
                        <mat-form-field appearance="outline" class="w-1/2">
                            <mat-label>First name</mat-label>
                            <input
                                id="firstName"
                                matInput
                                [formControlName]="'firstName'"
                            />
                            @if(createUserForm.get('firstName').hasError('required'))
                            {
                            <mat-error> First name is required </mat-error>
                            }
                            @if(createUserForm.get('firstName').hasError('maxlength'))
                            {
                            <mat-error>
                                First name must be less than 255 characters
                            </mat-error>
                            }
                        </mat-form-field>

                        <!-- Last name field -->
                        <mat-form-field appearance="outline" class="w-1/2">
                            <mat-label>Last name</mat-label>
                            <input
                                id="lastName"
                                matInput
                                [formControlName]="'lastName'"
                            />
                            @if(createUserForm.get('lastName').hasError('required'))
                            {
                            <mat-error> Last name is required </mat-error>
                            }
                            @if(createUserForm.get('lastName').hasError('maxlength'))
                            {
                            <mat-error>
                                Last name must be less than 255 characters
                            </mat-error>
                            }
                        </mat-form-field>
                    </div>

                    <!-- Email field -->
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Email</mat-label>
                        <input
                            id="email"
                            matInput
                            [formControlName]="'email'"
                        />
                        @if(createUserForm.get('email').hasError('required')) {
                        <mat-error> Email is required </mat-error>
                        } @if(createUserForm.get('email').hasError('email')) {
                        <mat-error>
                            Please enter a valid email address
                        </mat-error>
                        }
                    </mat-form-field>

                    <!-- Username field -->
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Username</mat-label>
                        <input
                            id="username"
                            matInput
                            [formControlName]="'username'"
                        />
                        @if(createUserForm.get('username').hasError('required'))
                        {
                        <mat-error> Username is required </mat-error>
                        }
                        @if(createUserForm.get('username').hasError('minlength'))
                        {
                        <mat-error>
                            Username must be at least 3 characters
                        </mat-error>
                        }
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field appearance="outline" class="w-full">
                        <mat-label>Password</mat-label>
                        <input
                            id="password"
                            matInput
                            type="password"
                            [formControlName]="'password'"
                            #passwordField
                        />
                        @if(createUserForm.get('password').hasError('required'))
                        {
                        <mat-error> Password is required </mat-error>
                        }
                        @if(createUserForm.get('password').hasError('minlength'))
                        {
                        <mat-error>
                            Password must be at least 8 characters
                        </mat-error>
                        }
                    </mat-form-field>

                    <!-- Submit button -->
                    <button
                        class="fuse-mat-button-large w-full mt-6 bg-black rounded-lg text-white"
                        mat-flat-button
                        [disabled]="createUserForm.disabled"
                        (click)="createUser()"
                    >
                        <span *ngIf="!createUserForm.disabled">
                            Create user
                        </span>
                        <mat-progress-spinner
                            *ngIf="createUserForm.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"
                        ></mat-progress-spinner>
                    </button>
                </form>
                }
            </div>
        </div>
    </div>
</div>
